<section id='todos' class>
  <header>
    <h2><%=@current_list[:name]%></h2>
    <ul>
      <% puts "/lists/#{@list_id}/edit" %>
      <li> <a href=<%="/lists/#{@list_id}/edit"%> class='edit' >Edit</a> 
    </ul>
  </header>
  <ul>
    <% @current_list[:todos].each_with_index do |task, i| %>
      <li>
        <h3><%= task[:desc] %></h3>
        <form action="/lists/<%= @list_id %>/todos/<%=i%>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @list_id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="<%= params[:todo]%>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>



<% content_for :header_links do %>
 <a href="/">Return to all lists</a>
<% end %>
