<section id="todos">
  <header>
    <h2>Editing "<%= @current_list[:name] %>"</h2>
    <ul>
        <li> 
            <form class="delete" id="myform" method="post" action="delete">
            <button type="submit" class="delete">Delete List</a></form>
        </li>
    </ul>
  </header>
</section>


<form action="/lists/<%=params[:list_id]%>" method="post">
  <dl>
    <dt>
      <label for="new_list_name">Enter a new name for your list:" <strong> <%= @current_list[:name] %></strong>"</label>
    </dt>
    <dd>

      <% place_holder = session[:invalid_name] ? session[:invalid_name] : @current_list[:name] %>
      <input name="new_list_name" placeholder=<%= place_holder %> type="text" value="<%= params['new_list_name'] || @current_list[:name] %>">

      <% session[:invalid_name] = nil %>

    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save"> 
    <a = href="/lists/<%=params[:list_id]%>">Cancel</a>
  </fieldset>
</form>
 

<% content_for :header_links do %>
  <a href="/lists">All lists</a> 
<% end %>